body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }

  h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    background: rgba(246, 249, 196, 0.9);
    padding: 15px 20px;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Palatino';
    font-size: 36px;
    color: #333;
}


#menu {
    position: absolute;
    background: #fff;
    padding: 10px;
    font-family: 'Palatino', sans-serif;
    top: 50px;
    right: 50px;
    z-index: 10;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    width: auto;          
    max-width: 200px;      
    pointer-events: none; 
}

#menu a {
    font-size: 18px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    pointer-events: auto; 
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #d571cb;
;
    color: #ffffff;
}

#menu a.active:hover {
    background: #d571cb;
}
